img{
    width: 100px;
    height: auto;
}

.flex{
    display: flex;
}
.sidebar{ 
    width: 200px;
    height: calc(100vh - 52px);
    background-color: #077bef;
    
}

.sidebar ul{
    padding-inline-start: 0px;
    color: rgba(230, 230, 230, .9);
    text-align: center;
    list-style: none;
}
.sidebar ul li{
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    padding: 30px 15px;
}

.navbar{
    background-color: #077bef;
    padding: 1rem 2rem;
    border-bottom: 3px solid grey;
    height: 80px;
}
.content{
    width: 70%;
}
#tabla{
    text-align: center;
}